<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>News from {{nameCountry}}</ion-title>
    <ion-button slot="end" color="success" (click)="goHomePage()">
      <ion-icon name="home"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title size="large">{{newsPresent}}{{nameCountry}}</ion-title>
  </ion-toolbar>
  <ion-card *ngFor="let n of news">
    <img alt="'Image of ' + n.title" src={{n.image_url}} *ngIf="n.image_url; else noImage" style="width: 100%; max-width: 100%; height: auto; object-fit: cover;" />
    <ng-template #noImage>
      <img alt="No image available" />
    </ng-template>
    <ion-card-header>
      <ion-card-title>{{n.title}}</ion-card-title>
      <ion-card-subtitle>{{n.description}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>  
</ion-content>
